@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-justify-method ($method:center){
    display: flex;
    justify-content: $method;
}
@mixin flex-x-spaceEvenly-y-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin flex-colum-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin hisRoadSpritePosition($x,$y,$scale){
    $WIDTH:(100*$scale);
    $HEIGHT:(100*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(1600*$WIDTH/100);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px auto;
}


@mixin coinSpritePosition($x,$y,$scale){
    $WIDTH:(79*$scale);
    $HEIGHT:(65*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(474*$WIDTH/79);
    $BGSIZEY:(130*$HEIGHT/65);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px $BGSIZEY+px;
}

%hisRoad{
    cursor: pointer;
    background-image:$historyRoad-spriteImg;
}
%coin{
    background-image:$coin-spriteImg;
    cursor: pointer;
}