@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-justify-method ($method:center){
    display: flex;
    justify-content: $method;
}
@mixin flex-x-spaceEvenly-y-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin flex-colum-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin tiePosition($x,$y,$scale){ 
    $WIDTH:(100*$scale);
    $HEIGHT:(100*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(100*$WIDTH/100);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px auto;
}

@mixin hisRoadSpritePosition($x,$y,$scale){  //路圖圖案切圖縮放
    $WIDTH:(100*$scale);
    $HEIGHT:(100*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(1600*$WIDTH/100);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px auto;
}


@mixin coinSpritePosition($x,$y,$scale){   //籌碼的切圖縮放
    $WIDTH:(79*$scale);
    $HEIGHT:(65*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(711*$WIDTH/79);
    $BGSIZEY:(195*$HEIGHT/65);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px $BGSIZEY+px;
}
@mixin tieNumberPosition($x,$y,$scale){
    $WIDTH:(100*$scale);
    $HEIGHT:(100*$scale);
    $POSITIONX:($x*$scale);
    $POSITIONY:($y*$scale);
    $BGSIZEX:(900*$WIDTH/100);
    width:$WIDTH+px;
    height:$HEIGHT+px;
	background-position: $POSITIONX+px $POSITIONY+px;
    background-size: $BGSIZEX+px auto;
}
/*一般工具*/
.cursor-point{
    cursor: pointer;
}
.fs-larger{
    font-size: larger;
}
.font_red{
	color: $betArea_red;
}
.font_green{
	color: #009200;
}
.font_yellow{
	color:$betArea_yellow;
}
.font_yellows{
	color: #fff6d7;
	line-height: 2em;
}
.font_white{
    color:white;
}
.font_grey{
    color:rgb(255, 254, 254)
}
.font
.font-total{
	color: gray;
	float: left;
	width: 100%;
	background-color: rgba(2,29,35,0.5);
	line-height: 2.5em;
	text-align: center;
}
.font-total{
	color: gray;
}
.alertFont{
	font-size: 2.8rem !important;
}
%hisRoad{
    cursor: pointer;
    background-image:$historyRoad-spriteImg;
}
%coin{
    background-image:$coin-spriteImg;
    cursor: pointer;
}
%tie{  //路圖第一局和局狀況的圖檔
    cursor: pointer;
    background-image: url('../../images/T.png');
}
%tieNumber{
    background-image: url('../../images/tieNumber.png');
}
