
/*-------------------------------------------
     欄目設定區
-------------------------------------------*/
.header{
	float: left;
	width: 10%;
	background-color: #1e1101;
	border: 1px solid #654d31;
	background-image: url(../../images/left-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
}
.mainGame{
	@include flex-wrap;
	width: 90%;
	height:95%;
}
/*-------------------------------------------
     欄目設定區
-------------------------------------------*/
.betArea-pc-container {
  @include flex-wrap;
  height: 280px;
  padding: 0px;
}
.betArea-item {
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	position: relative;
	cursor: pointer;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 1px solid $betArea_border;
	text-align: center;
}
.red{
	color:red;
}
.yellow{
	color: #FC0;
}
.green{
	color: rgb(52, 190, 10);
}