//header
.header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header-btnList{
	float: left;
	width: 100%;
}
.table-btn-list::-webkit-scrollbar { width: 0 !important;height:0 !important }  //隱藏滾動條
.header-item{
	cursor: pointer;
	margin-right: 10px;
}
.header-top{
	width:100%;
}
.header-tableInfo{
	width:150px;
}
.header-bottom-mobil{
	z-index:1;
	.navbar{
		padding:0px;
	}
	.navbar-dark .navbar-toggler{
		border:none;
	}
}
.bi-list-ul::before{
	color:#9B7524;
	font-size: 2.8rem;
	vertical-align: -1.1rem;
}
.bi-box-arrow-right{
	margin-top:-7px;
	margin-left:5px;
	color:#9B7524;
	font-size: 2.8rem;
}
.header-bottom-mobil-extend{
	left:0;
	right:0;
	z-index:-1;
}
.disabled,.disabled:hover{
    background: gray !important;
	color:rgb(53, 52, 52) !important;
}