//header
.header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header-logo{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-btnList{
	float: left;
	width: 100%;
}
.header-userName{
	cursor: pointer;
}
.header-top{
	width:100%;
}