.home{
    overflow: scroll;
}
.home::-webkit-scrollbar { width: 0 !important;height:0 !important }  //隱藏滾動條
.tableItem{
    cursor: pointer;
    border: 5px solid $mainColor;
    border-radius: 5px;
    margin-right: 20px;
}
.tableList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.table-img{
    width:200px;
    height:200px;
}
// .chooseTable{
//     margin-top: 50px;
// }