.home{
    overflow: scroll;
}
.tableItem{
    cursor: pointer;
    border: 5px solid $mainColor;
    border-radius: 5px;
    width:30.2%;
}
.tableList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:865px;
}
.table-img{
    width:200px;
    height:200px;
}
.chooseTable{
    margin-top: 50px;
}