/*-------------------------------------------
     基本版面設定區
-------------------------------------------*/
//最外層
#wap{
	float: left;
	width: 100%;
	overflow: hidden;
}
.home{
	width:90%;
	height:95%;
}
.container-waps{
	float: left;
	width: 100%;
	background-color: #000000;
	border: 1px solid #362903;
	@include flex-wrap;
	justify-content: space-around;
	height: 100vh;
}	
