
.announcement-bg{
    background-color: black;
    top:0;
    left:0;
}
.announcement-container{
    background-color: white;
    color:black;
    width: 900px;
    height:650px;
    overflow-y: scroll;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.announcement-fotter{
    div{
        width:40%;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        width:1rem;
        height:1rem;
        margin-right: 1rem;
    }
    .form-check-label{
        font-weight: 600;
        letter-spacing: 0.2rem;
    }
}
.announcementTitle{
    font-weight: 600;
}
.announcementContent{
    text-indent:2rem;
    span{
        color:red;
    }
}

.bi-arrow-right-square,.bi-arrow-left-square{
    font-size: 2rem;
    cursor: pointer;
}