    .betInfortext-ul{ //下注相關的動畫字樣
        width:200px;
        height:100px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        @include flex-justify-method(space-between);
        flex-direction: column;
        li{
            color:red;
            font-size: larger;
            font-weight: bolder;
        }
    }
    .mobilTableInfo{
        display: none;
    }
    .bettingArea-betInfo{
        p{
            margin-bottom: 0;
        }
        ul{
            section{
                justify-content: space-around;
            }
        }
    }
    .gameresult{
        top:25%;
    }
    .bettingArea-btn{
        height:65px;
        width:100%;
        background-color: #1e1e1e;
        border-top:gray 1px solid;
    }
    .bettingArea-btn-left{
        width: 100%;
    }
    %bettingArea-btn-base{
        height:42px;
        width:100px;
        border-radius: 5px;
        cursor: pointer;
    }
    .bettingArea-btn-gitbackAllCoin{
        @extend %bettingArea-btn-base;
        background-color: rgba(0, 0, 255, 0.692);
    }
    .bettingArea-btn-check{
        @extend %bettingArea-btn-base;
        background-color:rgba(128, 0, 128, 0.829);
    }
    .bettingArea-btn-betInfo,.bettingArea-btn-reward{
        border-radius: 5px;
        background-color: #644d31;
        font-size: 18px;
        text-align: center;
    }
    .bettingArea-btn-reward{
        width:70px;
        height:42px;
        font-size: 1.5rem;
        background-color:rgba(128, 0, 128, 0.829);
    }
    .bettingArea-btn-center{
        width:70px;
        height:42px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5rem;
        background: rgb(80, 78, 78);
    }
    .fly-card{
        background-color: #644d31;
    }
    .bettingArea-btn-watchCard-Animation {
        animation-name: watchCardAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;
        background-color:rgba(128, 0, 128, 0.829);
        .bi-eye{
            animation-name: watchCardEyeAnimation;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function:ease-in-out;
        }
    }
    @keyframes watchCardAnimation {
        from{
            background-color:rgba(128, 0, 128, 0.629);
            box-shadow: 0px 0px 10px rgb(250, 250, 4);
        }to{
            background-color:rgba(128, 0, 128, 0.829);
        }
    }
    @keyframes watchCardEyeAnimation {
        from{
            font-size: 1rem;
        }to{
            font-size: 1.8rem;
        }
    }
    .betArea-item{
        font-weight:500;
    }
    .betRatioText{
        font-size: 1.5rem;
    }
    .askRoad-player,.askRoad-banker{
        background-color: rgb(75, 73, 73);
        border-radius: 5px;
        p{
            margin-bottom: 0;
        }
        div{
            background-color: black;
            border-radius: 10px;
        }
    }
    .askRoad-player{
        color:red;
    }
    .askRoad-banker{
        color:yellow;
    }
    .shotCoinUl{  
        width:100%;
        .shotCoinPice{
            pointer-events: none; //使能被穿透
            position: absolute;
            top:-25px;
        }
    }
    .coinPosition{
        li{
            pointer-events: none; //使能被穿透
            position: absolute;
            transform: scale(0.5);
            clear: left;
            left:0;
            bottom:0;
        }
    }
    .activeCoin {
        box-shadow: 0px 0px 25px rgba(255, 255, 178, 1);
    }
    .betArea-item-top{
        top:25%;
    }
    .betArea-item-bottom{
        bottom:10%;
    }
    .betStatus{
        pointer-events: none; //使能被穿透
        color:gray;
        font-size: 1rem;
        z-index:1;
        margin-bottom: 0;
    }
    .table-total-betStatus{
        pointer-events: none; //使能被穿透
        coclor:gray;
        font-size: 1rem;
        margin-bottom: 0;
    }
    .winAnimation{
        animation: win 1s ease-in infinite;
        
    }
    .winCoin{
        animation: winCoin 1s ease-in infinite;
    }
    @keyframes win {
        from{
            background-color: rgba(128, 255, 0, 0.007);
        }to{
            background-color: rgba(128, 255, 0, 0.411);
        }
    }
    @keyframes winCoin {
        from{
            color:rgba(255, 0, 0, 0.062);
        }to{
            color:red;
        }
    }
    #betConfirm,#cancleBet,#flyCard{
        opacity: 0;
    }

    