/*-------------------------------------------
     按鈕設定區
-------------------------------------------*/
.header-btn{
	width:85%;
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	font-size: 136%;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #fff6d5;
	padding:5px 0px;
	margin: 5px 10px;
	border: 0px solid #d0c0a4;
	background-color: #ae8b27;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ae8b27+0,775124+99 */
	background: rgb(174,139,39); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,139,39,1) 0%, rgba(119,81,36,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,139,39,1) 0%,rgba(119,81,36,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,139,39,1) 0%,rgba(119,81,36,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae8b27', endColorstr='#775124',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	box-shadow: 0px 0px 0px #9e9e9e;
	transition: 1s;
}

.header-btn.active.focus,.header-btn.active:focus,.header-btn.focus,.header-btn:active.focus,.header-btn:active:focus,.header-btn:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #372710;
	transition: 1s;
}.header-btn.focus,.header-btn:focus,.header-btn:hover{
	border-radius: 10px;
	padding:5px 0px;
	margin: 5px 10px;
	color: #372710;
	text-decoration: none;
	background-color: #ae8b27;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#775124+0,ae8b27+100 */
	background: rgb(119,81,36); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(119,81,36,1) 0%, rgba(174,139,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#775124', endColorstr='#ae8b27',GradientType=0 ); /* IE6-9 */
	transition: 1s;
}.header-btn.active,.header-btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}

.btn-p{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 15px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #0066CC;
	transition: 1s;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	padding:8px 0px;
}
.btn-p .dots {
	position: absolute;
	height: 10px;
	width: 10px;
	color: #ffffff;
	border-radius: 50%;
	font-weight: 700;
	text-align: center;
	line-height: 10px;
	background-color: #0066CC;
	right: 0px;
	border: 1px solid #FFF;
	bottom: -1px;
}

.btn-ps{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #0066CC;
	background-color: #fff;
	transition: 1s;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	border: 2px solid #0066CC;
}

.btn-ps .dots {
	position: absolute;
	height: 8px;
	width: 8px;
	color: #ffffff;
	border-radius: 50%;
	font-weight: 700;
	text-align: center;
	line-height: 10px;
	background-color: #0066CC;
	right: -3px;
	border: 1px solid #FFF;
	bottom: -3px;
}

.btn-pss{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #0066CC;
	transition: 1s;
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
}

.btn-p.active.focus,.btn-p.active:focus,.btn-p.focus,.btn-p:active.focus,.btn-p:active:focus,.btn-p:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #fff;
	transition: 1s;
}.btn-p.focus,.btn-p:focus,.btn-p:hover{
	color: #fff;
	text-decoration: none;
	transition: 1s;
}.btn-p.active,.btn-p:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn-p.disabled,.btn-p[disabled],fieldset[disabled] .btn-p{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn-p.disabled,fieldset[disabled] a.btn-p{pointer-events:none}

.btn-b{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 15px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #FF0000;
	transition: 1s;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	padding:8px 0px;
}

.btn-b .dots {
	position: absolute;
	top: -1px;
	height:10px;
	width:10px;
	color: #ffffff;
	border-radius: 50%;
	font-weight: 700;
	text-align: center;
	line-height: 10px;
	background-color: #FF0000;
	left: 0px;
	border: 1px solid #FFF;
}

.btn-b.active.focus,.btn-b.active:focus,.btn-b.focus,.btn-b:active.focus,.btn-b:active:focus,.btn-b:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #fff;
	transition: 1s;
}.btn-b.focus,.btn-b:focus,.btn-b:hover{
	color: #fff;
	text-decoration: none;
	transition: 1s;
}.btn-b.active,.btn-b:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn-b.disabled,.btn-b[disabled],fieldset[disabled] .btn-b{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn-b.disabled,fieldset[disabled] a.btn-b{pointer-events:none}

.btn-bs{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #FF0000;
	background-color: #fff;
	transition: 1s;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	padding-left: 0;
	border: 2px solid #FF0000;
}
.btn-bs .dots {
	position: absolute;
	top: -3px;
	height:8px;
	width:8px;
	color: #ffffff;
	border-radius: 50%;
	font-weight: 700;
	text-align: center;
	line-height: 10px;
	background-color: #FF0000;
	left: -2px;
	border: 1px solid #FFF;
}
.btn-bss{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #FF0000;
	transition: 1s;
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	padding-left: 0;
}

.btn-c{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 15px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #166d0a;
	transition: 1s;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	padding:8px 0px;
}

.btn-cs{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #166d0a;
	background-color: #FFFFFF;
	transition: 1s;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	border: 2px solid #166d0a;
}

.btn-css{
	display: inline-block;
	line-height: 1.75em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 12px;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #166d0a;
	background-color: #FFFFFF;
	transition: 1s;
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 20px;
	margin: 1px;
	border: 2px solid #166d0a;
}

.btn-c.active.focus,.btn-c.active:focus,.btn-c.focus,.btn-c:active.focus,.btn-c:active:focus,.btn-c:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #fff;
	transition: 1s;
}.btn-c.focus,.btn-c:focus,.btn-c:hover{
	color: #fff;
	text-decoration: none;
	transition: 1s;
}.btn-c.active,.btn-c:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn-c.disabled,.btn-c[disabled],fieldset[disabled] .btn-c{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn-c.disabled,fieldset[disabled] a.btn-c{pointer-events:none}