/*-------------------------------------------
     按鈕設定區
-------------------------------------------*/
.header-btn{
	width:85%;
	position:relative;
	line-height: 1.75rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	font-size: 136%;
	text-decoration: none;
	color: $accent_green;
	padding:5px 0px;
	margin: 5px 10px;
	border: 1px solid #202120;
	background:linear-gradient(180deg,#3D4442 0%,#303231 100%);
	border-radius: 10px;
	box-shadow: 0px 0px 1px #202120,inset 0px 0px 5px #5A605E;
}
.header-btn::before{
	content: "";
	position: absolute;
	left:-10%;
	top:-10%;
	transform: translate(7%,0%);
	width:106%;
	height:120%;
	border-radius: inherit;
	border:1px solid $primary_color;
	box-shadow: inset 0px 0px 5px #3C3C3C;
}
.header-btn.active,header-btn.active.focus,.header-btn.active:focus,.header-btn.focus,.header-btn:active.focus,.header-btn:active:focus,.header-btn:focus{
	background-color: #f22e89 !important;
    // border: black 2px solid;
}
.header-btn.active.focus,.header-btn.active:focus,.header-btn.focus,.header-btn:active.focus,.header-btn:active:focus,.header-btn:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #372710;
}.header-btn.focus,.header-btn:focus,.header-btn:hover{
	border-radius: 10px;
	padding:5px 0px;
	margin: 5px 10px;
	color: #372710;
	text-decoration: none;
	background-color: #ae8b27;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#775124+0,ae8b27+100 */
	background: rgb(119,81,36); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(119,81,36,1) 0%, rgba(174,139,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#775124', endColorstr='#ae8b27',GradientType=0 ); /* IE6-9 */
	// transition: 1s;
}
.header-btn.active,.header-btn:active{
	padding:5px;
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
	.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}