/*-------------------------------------------
     按鈕設定區
-------------------------------------------*/
.header-btn{
	width:85%;
	display: inline-block;
	line-height: 1.75rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	font-size: 136%;
	font-family: 'cwtexhei', 'Varela Round', '微軟正黑體', sans-serif;
	text-decoration: none;
	color: #fff6d5;
	padding:5px 0px;
	margin: 5px 10px;
	border: 0px solid #d0c0a4;
	background-color: #ae8b27;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ae8b27+0,775124+99 */
	background: rgb(174,139,39); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,139,39,1) 0%, rgba(119,81,36,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,139,39,1) 0%,rgba(119,81,36,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,139,39,1) 0%,rgba(119,81,36,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae8b27', endColorstr='#775124',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	box-shadow: 0px 0px 0px #9e9e9e;
	// transition: 1s;
}
.header-btn.active,header-btn.active.focus,.header-btn.active:focus,.header-btn.focus,.header-btn:active.focus,.header-btn:active:focus,.header-btn:focus{
	background-color: brown;
    border: black 2px solid;
}
.header-btn.active.focus,.header-btn.active:focus,.header-btn.focus,.header-btn:active.focus,.header-btn:active:focus,.header-btn:focus{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
	color: #372710;
	// transition: 1s;
}.header-btn.focus,.header-btn:focus,.header-btn:hover{
	border-radius: 10px;
	padding:5px 0px;
	margin: 5px 10px;
	color: #372710;
	text-decoration: none;
	background-color: #ae8b27;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#775124+0,ae8b27+100 */
	background: rgb(119,81,36); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(119,81,36,1) 0%, rgba(174,139,39,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(119,81,36,1) 0%,rgba(174,139,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#775124', endColorstr='#ae8b27',GradientType=0 ); /* IE6-9 */
	// transition: 1s;
}.header-btn.active,.header-btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}