.coin-menu1{
	@extend %coin;
	@include coinSpritePosition(0,0,1)
}
.coin-menu1:hover,.coin-menu1-current{
	@extend %coin;
	@include coinSpritePosition(0,-65,1)
}
.coin-menu2{
	@extend %coin;
	@include coinSpritePosition(-79,0,1)
}
.coin-menu2:hover,.coin-menu2-current{
	@extend %coin;
	@include coinSpritePosition(-79,-65,1)
}
.coin-menu3{
	@extend %coin;
	@include coinSpritePosition(-158,0,1)
}
.coin-menu3:hover,.coin-menu3-current{
	@extend %coin;
	@include coinSpritePosition(-158,-65,1)
}
.coin-menu4{
	@extend %coin;
	@include coinSpritePosition(-237,0,1)
}
.coin-menu4:hover,.coin-menu4-current{
	@extend %coin;
	@include coinSpritePosition(-237,-65,1)
}
.coin-menu5{
	@extend %coin;
	@include coinSpritePosition(-316,0,1)
}
.coin-menu5:hover,.coin-menu5-current{
	@extend %coin;
	@include coinSpritePosition(-316,-65,1)
}

//籌碼子彈
.ammo5{
	left:5%;
}
.ammo10{
	left:25%;
}
.ammo50{
	left:45%;
}
.ammo100{
	left:65%;
}
.ammo500{
   left:85%;
}