.coin-preLoad {
	@extend %coin;
}
.coin-100{
	@extend %coin;
	@include coinSpritePosition(0,0,0.9);
}
.coin-100:hover,.coin-100-current{
	@extend %coin;
	@include coinSpritePosition(0,-65,0.9);
}
.coin-100-disable{
	@extend %coin;
	@include coinSpritePosition(0,-130,0.9);
}
.coin-500{
	@extend %coin;
	@include coinSpritePosition(-79,0,0.9);
}
.coin-500:hover,.coin-500-current{
	@extend %coin;
	@include coinSpritePosition(-79,-65,0.9);
}
.coin-500-disable{
	@extend %coin;
	@include coinSpritePosition(-79,-130,0.9);
}
.coin-1000{
	@extend %coin;
	@include coinSpritePosition(-158,0,0.9);
}
.coin-1000:hover,.coin-1000-current{
	@extend %coin;
	@include coinSpritePosition(-158,-65,0.9);
}
.coin-1000-disable{
	@extend %coin;
	@include coinSpritePosition(-158,-130,0.9);
}
.coin-2000{
	@extend %coin;
	@include coinSpritePosition(-237,0,0.9);
}
.coin-2000:hover,.coin-2000-current{
	@extend %coin;
	@include coinSpritePosition(-237,-65,0.9);
}
.coin-2000-disable{
	@extend %coin;
	@include coinSpritePosition(-237,-130,0.9);
}
.coin-5000{
	@extend %coin;
	@include coinSpritePosition(-474,0,0.9);
}
.coin-5000:hover,.coin-5000-current{
	@extend %coin;
	@include coinSpritePosition(-474,-65,0.9);
}
.coin-5000-disable{
	@extend %coin;
	@include coinSpritePosition(-474,-130,0.9);
}
.coin-10000{
	@extend %coin;
	@include coinSpritePosition(-316,0,0.9);
}
.coin-10000:hover,.coin-10000-current{
	@extend %coin;
	@include coinSpritePosition(-316,-65,0.9);
}
.coin-10000-disable{
	@extend %coin;
	@include coinSpritePosition(-316,-130,0.9);
}
.coin-100000{
	@extend %coin;
	@include coinSpritePosition(-395,0,0.9);
}
.coin-100000:hover,.coin-100000-current{
	@extend %coin;
	@include coinSpritePosition(-395,-65,0.9);
}
.coin-100000-disable{
	@extend %coin;
	@include coinSpritePosition(-395,-130,0.9);
}
//籌碼子彈
.ammo1{
	left:3%;
}
.ammo2{
	left:20%;
}
.ammo3{
	left:35%;
}
.ammo4{
	left:50%;
}
.ammo5{
   left:70%;
}
.ammo6{
	left:85%;
 }
// .ammo100{
// 	left:3%;
// }
// .ammo500{
// 	left:20%;
// }
// .ammo1000{
// 	left:35%;
// }
// .ammo5000{
// 	left:50%;
// }
// .ammo10000{
//    left:70%;
// }
// .ammo100000{
// 	left:85%;
//  }