
@mixin coinSpritePosition($x,$y){
	background-image:$coin-spriteImg;
	background-position: $x $y;
}

/*-------------------------------------------
     硬幣設定區
-------------------------------------------*/
.coin{
	cursor: pointer;
	float: left;
	height: 65px;
	width: 79px;
	zoom:1;
}
.coin-menu1{
	@include coinSpritePosition(0px,0px)
}
.coin-menu1:hover,.coin-menu1-current{
	@include coinSpritePosition(0px,-65px)
}
.coin-menu2{
	@include coinSpritePosition(-79px,0px)
}
.coin-menu2:hover,.coin-menu2-current{
	@include coinSpritePosition(-79px,-65px)
}
.coin-menu3{
	@include coinSpritePosition(-158px,0px)
}
.coin-menu3:hover,.coin-menu3-current{
	@include coinSpritePosition(-158px,-65px)
}
.coin-menu4{
	@include coinSpritePosition(-237px,0px)
}
.coin-menu4:hover,.coin-menu4-current{
	@include coinSpritePosition(-237px,-65px)
}
.coin-menu5{
	@include coinSpritePosition(-316px,0px)
}
.coin-menu5:hover,.coin-menu5-current{
	@include coinSpritePosition(-316px,-65px)
}