//遊戲結果
.gameResult{
	top:28%;
	left:0;
	text-align: center;
}
#result{
	@include flex-justify-method;
}
.result-text{
	font-size: 400%;
	font-weight: 700;
}
.gainMoney{
	font-size: 200%;
	margin-bottom: -20px;
}
.gameResult-title{
	border-bottom: 1px #654d31 solid;
	height:20%;
	font-size: 150%;
	@include flex-colum-content-center;
	p{
		margin: 0;
	}
}
.gameResult-content{
	height:80%;
	display: flex;
	justify-content: center;
	ul{
		margin-top: 1rem;
	}
}