.LoadingPage{
    background-image: $loading-img;
    background-color: #644d31;
    text-align: center;
}
.gameResultLoading{
    // left:25%;
    top:35%;
    background-color: #523e25ab;
    // transform: translateX(-50%);
    p{
        text-align: center;
        font-size: 400%;
        font-weight: bolder;
        color:red;
    }
}