.LoadingPage{
    // background-image: $loading-img;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #644d31;
    text-align: center;
    z-index: 10;
}
.gameResultLoading{
    top:35%;
    background-color: #523e2544;
    z-index: 9;
    p{
        text-align: center;
        font-size: 400%;
        font-weight: bolder;
        color:red;
    }
}
.video-loading{
    top:0;
    left:0;
    background-color: #523e2533;
    background-image: $videoLoading-img;
    background-repeat: no-repeat;
    background-position: center center;
}