
.poker{ //顯示卡牌
    background-image:$poker-spriteImg;
}
.card-item-w{
    transform: rotate(90deg);
}
.winPoker{
  // background-color: rgba(206, 156, 94, 0.11);
  background-color: rgba(206, 156, 94, 0.822);
  animation-name: winpoker;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  border-radius: 10px;
  padding-bottom: 15px;
}
@keyframes winpoker {
  from{
    background-color: rgba(206, 156, 94, 0.342);
  }to{
    background-color: rgba(206, 156, 94, 0.822);
  }
}
.playerNum,.bankerNum{
  position: absolute;
  font-size:1.5rem;
}
.playerNum{
  left:10%;
  top:50%;
}
.bankerNum{
  right:10%;
  top:50%;
}