.poker{ //顯示卡牌
    background-image:$poker-spriteImg;
}
.card-item-w{
    transform: rotate(90deg);
}
.player{
  background-color: rgba(47, 169, 240, 0.849);
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}
.banker{
  background-color: #e00000d2;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}
.winCard-wrap{
  z-index: 0;
  width:85%;
  height:100%;
}
.winPoker{
  animation :winpoker 1s ease-in forwards;
  border-radius: 10px;
  padding-bottom: 15px;
}
@keyframes winpoker {
  from{
  }to{
    border: #FC0 5px solid;
    box-shadow: -5px 5px 10px rgb(66, 64, 64);
  }
}
.playerNum,.bankerNum{
  position: absolute;
  font-size:1.5rem;
}
.playerNum{
  left:18%;
  top:20%;
}
.bankerNum{
  right:20%;
  top:20%;
}