.progress {
    position: relative;
    border: 5px solid #FFF;
    width: 400px;
    height: 20px;
    overflow: hidden;
    &.loaded { display: none;}
    .progress-inset {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      background: #FFF;
    }
  }