/* 背景格子 */
.secRoad{
    height:100%;
    background-color: white;
  }
  .secRoad-column{
    border: 1px solid rgba(128, 128, 128, 0.219);
    width:4.54545454%; /*調整欄寬 */
    height: 100%;
  }
  .sec-column{
    right:0;
    height:100%;
  }
  .secRoad-row{
    height:8.33333333333333333%;
    width:100%;
    border: 1px solid rgba(128, 128, 128, 0.219);
  }
/* 共用區 */
.sideWidth{   /*用來統一調整sideRode佔寬比 */
    width:60%;
  }
  .boundary-bottom{
    border-bottom:1px solid rgba(0, 0, 0, 0.719);
  }
  .boundary-right{
    border-right:1px solid rgba(0, 0, 0, 0.719);
  }
//大路
.bigRoad{
    top:0;
    right:0;
    height:50%;
  }
  .bigRoad-column{
    /* border: 2px solid yellow; */
    width:4.54545454%;  /*調整欄寬 */
    height:100%;
    flex-direction: column;
  }
  .bigRoad-item{
    /* border: blue solid 1px; */
    height:16.6666666%;
    flex-direction: column;
    align-items: center;
  }
//大眼路
.BigEyesRoad{
    width:100%;
    // border:solid red 2px;
    height:25%;
    right:0;
    top:50%;
}
.BigEyesRoad-colum{
    // border:solid peru 1px;
    width:2.272727272727%;
    height:100%;
    flex-direction: column;
}
.BigEyesRoad-item{
    width:100%;
    height:16.666666666%;
    flex-direction: column;
    // border:rebeccapurple 2px solid;
}
.sideWidth{   /*用來統一調整sideRode佔寬比 */
    width:60%;
}
//小路、蟑螂路
.bottomRoad{
    height:25%;
    /* border: blue solid 2px; */
    right:0;
    bottom:0;
  }
  .smallRoad,.cockroachRoad{
    height:100%;
    // border: solid 2px yellow;
    /* right:30%; */
  } 
  .bottomRoad-w10{
    width:9%;
    height:100%;
    /* border: solid 2px brown; */
  }
  .smallRoad-column,.cockroachRoad-column{
    width:5%;
    height:100%;
    flex-direction: column;
    // border:red solid 2px;
  }
  .smallRoad-item,.cockroachRoad-item{
    width:100%;
    height:16.6666666666%;
    flex-direction: column;
    // border:springgreen solid 2px;
  }