/*-------------------------------------------
     自適應設定區
-------------------------------------------*/
@media screen and (min-width: 1281px) {
	.video-box{
		height:70%;
	}
	.betArea{
		height:70%;
	}
	.betArea-pc{
		height:79%;
	}
	.coinArea{
		height:17%;
	}
	.betArea-pc-container{
		height:50%;
	}
	.betArea-item{
		font-size:2rem;
	}
	.gameHistory{
		height:30%;
	}
}
@media screen and (max-width: 1280px) {
	.video-box{
		height:75%;
	}
	.betArea{
		height:75%;
	}
	.betArea-pc{
		height:75%;
	}
	.betArea-pc-container{
		height:50%;
	}
	.betArea-item{
		font-size:1.5rem;
	}
	.gameHistory{
		height:25%;
	}
	.coinArea{
		height:21%;
	}
	.coin-menu1{
		@include coinSpritePosition(0,0,0.8)
	}
	.coin-menu1:hover,.coin-menu1-current{
		@include coinSpritePosition(0,-65,0.8)
	}
	.coin-menu2{
		@include coinSpritePosition(-79,0,0.8)
	}
	.coin-menu2:hover,.coin-menu2-current{
		@include coinSpritePosition(-79,-65,0.8)
	}
	.coin-menu3{
		@include coinSpritePosition(-158,0,0.8)
	}
	.coin-menu3:hover,.coin-menu3-current{
		@include coinSpritePosition(-158,-65,0.8)
	}
	.coin-menu4{
		@include coinSpritePosition(-237,0,0.8)
	}
	.coin-menu4:hover,.coin-menu4-current{
		@include coinSpritePosition(-237,-65,0.8)
	}
	.coin-menu5{
		@include coinSpritePosition(-316,0,0.8)
	}
	.coin-menu5:hover,.coin-menu5-current{
		@include coinSpritePosition(-316,-65,0.8)
	}
	.bankerRoadIcon0{
		@include hisRoadSpritePosition(0,0,0.29);
	}
	.bankerRoadIcon1{
		@include hisRoadSpritePosition(-100,0,0.29);
	}
	.bankerRoadIcon2{
		@include hisRoadSpritePosition(-200,0,0.29);
	}
	.bankerRoadIcon3{
		@include hisRoadSpritePosition(-300,0,0.15);
	}
	.bankerRoadIcon3-1{
		@include hisRoadSpritePosition(-300,0,0.09);
	}
	.bankerRoadIcon4{
		@include hisRoadSpritePosition(-400,0,0.15);
	}
	.bankerRoadIcon5{
		@include hisRoadSpritePosition(-500,0,0.15);
	}
	.bankerRoadIcon6{
		@include hisRoadSpritePosition(-600,0,0.15);
	}
	.bankerRoadIcon7{
		@include hisRoadSpritePosition(-700,0,0.08);
	}
	.bankerRoadIcon8{
		@include hisRoadSpritePosition(-800,0,0.08);
	}
	.playerRoadIcon0{
		@include hisRoadSpritePosition(-900,0,0.29);
	}
	.playerRoadIcon1{
		@include hisRoadSpritePosition(-1000,0,0.29);
	}
	.playerRoadIcon2{
		@include hisRoadSpritePosition(-1100,0,0.29);
	}
	.playerRoadIcon3{
		@include hisRoadSpritePosition(-1200,0,0.15);
	}
	.playerRoadIcon3-1{
		@include hisRoadSpritePosition(-1200,0,0.09);
	}
	.playerRoadIcon4{
		@include hisRoadSpritePosition(-1300,0,0.15);
	}
	.playerRoadIcon5{
		@include hisRoadSpritePosition(-1400,0,0.15);
	}
	.playerRoadIcon6{
		@include hisRoadSpritePosition(-1500,0,0.15);
	}
	.playerRoadIcon7{
		@include hisRoadSpritePosition(-1600,0,0.08);
	}
	.playerRoadIcon8{
		@include hisRoadSpritePosition(-1700,0,0.08);
	}
	.tieRoadIcon{
		@include hisRoadSpritePosition(-1800,0,0.29);
	}
}
@media screen and (max-width: 1140px) {


}
@media screen and (max-width: 1024px) {
	.container-waps{
		height:auto;
	}
	.flexs {
		display: flex;
		justify-content: space-around;
  }
	.header{
		width: 100%;
		height: 100px;
	}
	.header-logo{
		width: 15%;
		height:100%;
		padding-top: 5px;
		padding-bottom: 0px;
		img{
			height:100%;
		}
	}
	.header-btnList{
		width: 85%;
	}
	.header-btn{
		width:30%;
		line-height: 4.75rem;
		font-size:205%;
	}
	.header-bottom{  
		display: none;
	}
	.font-total{
		line-height: 1.5em;
	}
	.video-box{
		width: 100%;
		height:560px;
	}
	.mainGame{
		width: 100%;
	}	
	.betArea{
		border: 2px solid #262626;
		width: 100%;
	}
	.betArea-pc{
		display: none;
	}
	.betArea-mobile{
		display: block;
		height:280px;
	}
	.betArea-mobile-container{
		height:280px;
	}
	.coin-menu1{
		@include coinSpritePosition(0,0,1.7)
	}
	.coin-menu1:hover,.coin-menu1-current{
		@include coinSpritePosition(0,-65,1.7)
	}
	.coin-menu2{
		@include coinSpritePosition(-79,0,1.7)
	}
	.coin-menu2:hover,.coin-menu2-current{
		@include coinSpritePosition(-79,-65,1.7)
	}
	.coin-menu3{
		@include coinSpritePosition(-158,0,1.7)
	}
	.coin-menu3:hover,.coin-menu3-current{
		@include coinSpritePosition(-158,-65,1.7)
	}
	.coin-menu4{
		@include coinSpritePosition(-237,0,1.7)
	}
	.coin-menu4:hover,.coin-menu4-current{
		@include coinSpritePosition(-237,-65,1.7)
	}
	.coin-menu5{
		@include coinSpritePosition(-316,0,1.7)
	}
	.coin-menu5:hover,.coin-menu5-current{
		@include coinSpritePosition(-316,-65,1.7)
	}
	.betArea-item {
		font-size: 2.5rem;
		flex:20%;
	}
	.gameHistory{
		width: 100%;
		height: 220px;
		background-image: url(../../images/cardroad_bg_20.png);
		background-repeat: repeat;
		background-position: left top;
	}
	.tabsArea{
		display: none;
	}
	.card-box{
		margin-top: -20px;
	}
	.bankerRoadIcon0{
		@include hisRoadSpritePosition(0,0,0.35);
	}
	.bankerRoadIcon1{
		@include hisRoadSpritePosition(-100,0,0.35);
	}
	.bankerRoadIcon2{
		@include hisRoadSpritePosition(-200,0,0.35);
	}
	.bankerRoadIcon3{
		@include hisRoadSpritePosition(-300,0,0.2);
	}
	.bankerRoadIcon3-1{
		@include hisRoadSpritePosition(-300,0,0.09);
	}
	.bankerRoadIcon4{
		@include hisRoadSpritePosition(-400,0,0.2);
	}
	.bankerRoadIcon5{
		@include hisRoadSpritePosition(-500,0,0.2);
	}
	.bankerRoadIcon6{
		@include hisRoadSpritePosition(-600,0,0.2);
	}
	.bankerRoadIcon7{
		@include hisRoadSpritePosition(-700,0,0.09);
	}
	.bankerRoadIcon8{
		@include hisRoadSpritePosition(-800,0,0.09);
	}
	.playerRoadIcon0{
		@include hisRoadSpritePosition(-900,0,0.35);
	}
	.playerRoadIcon1{
		@include hisRoadSpritePosition(-1000,0,0.35);
	}
	.playerRoadIcon2{
		@include hisRoadSpritePosition(-1100,0,0.35);
	}
	.playerRoadIcon3{
		@include hisRoadSpritePosition(-1200,0,0.2);
	}
	.playerRoadIcon3-1{
		@include hisRoadSpritePosition(-1200,0,0.09);
	}
	.playerRoadIcon4{
		@include hisRoadSpritePosition(-1300,0,0.2);
	}
	.playerRoadIcon5{
		@include hisRoadSpritePosition(-1400,0,0.2);
	}
	.playerRoadIcon6{
		@include hisRoadSpritePosition(-1500,0,0.2);
	}
	.playerRoadIcon7{
		@include hisRoadSpritePosition(-1600,0,0.09);
	}
	.playerRoadIcon8{
		@include hisRoadSpritePosition(-1700,0,0.09);
	}
	.tieRoadIcon{
		@include hisRoadSpritePosition(-1800,0,0.35);
	}
}
@media screen and (max-width: 768px) {
	.header{
		height:70px;
	}
	.header-btn{
		line-height:2.75rem;
	}
	.video-box{
		height:400px;
	}
	.lightBox{
		display: block;
	}
	#countNumber{
		top:2%;
	}
	.betArea-mobile{
		height:180px;
	}
	.betArea-mobile-container{
		height:180px;
	}
	.tabsArea{
		display: none;
	}	
	.gameResult{
		top:0;
	}
	.container{
		width: 760px;
	}
	.coinArea{
		position: relative;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.betArea-item {
		font-size: 1.6rem;
	}
	.bankerRoadIcon0{
		@include hisRoadSpritePosition(0,0,0.3);
	}
	.bankerRoadIcon1{
		@include hisRoadSpritePosition(-100,0,0.3);
	}
	.bankerRoadIcon2{
		@include hisRoadSpritePosition(-200,0,0.3);
	}
	.bankerRoadIcon3{
		@include hisRoadSpritePosition(-300,0,0.17);
	}
	.bankerRoadIcon4{
		@include hisRoadSpritePosition(-400,0,0.17);
	}
	.bankerRoadIcon5{
		@include hisRoadSpritePosition(-500,0,0.17);
	}
	.bankerRoadIcon6{
		@include hisRoadSpritePosition(-600,0,0.17);
	}
	.playerRoadIcon0{
		@include hisRoadSpritePosition(-900,0,0.3);
	}
	.playerRoadIcon1{
		@include hisRoadSpritePosition(-1000,0,0.3);
	}
	.playerRoadIcon2{
		@include hisRoadSpritePosition(-1100,0,0.3);
	}
	.playerRoadIcon3{
		@include hisRoadSpritePosition(-1200,0,0.17);
	}
	.playerRoadIcon4{
		@include hisRoadSpritePosition(-1300,0,0.17);
	}
	.playerRoadIcon5{
		@include hisRoadSpritePosition(-1400,0,0.17);
	}
	.playerRoadIcon6{
		@include hisRoadSpritePosition(-1500,0,0.17);
	}
	.tieRoadIcon{
		@include hisRoadSpritePosition(-1800,0,0.3);
	}
}
@media screen and (max-width: 540px) {
	.header{
		height:50px;
	}
	.header-btn{
		line-height: 1.5rem;
		width:28%;
	}
	.video-box{
		height:288px;
	}
	#countNumber{
		top:3%;
	}
	.betArea-item ,.betStatus{
		font-size: 1.5rem;
	}
	.betArea-mobile,.betArea-mobile-container{
		height:130px;
	}
	.coin-menu1{
		@include coinSpritePosition(0,0,0.7)
	}
	.coin-menu1:hover,.coin-menu1-current{
		@include coinSpritePosition(0,-65,0.7)
	}
	.coin-menu2{
		@include coinSpritePosition(-79,0,0.7)
	}
	.coin-menu2:hover,.coin-menu2-current{
		@include coinSpritePosition(-79,-65,0.7)
	}
	.coin-menu3{
		@include coinSpritePosition(-158,0,0.7)
	}
	.coin-menu3:hover,.coin-menu3-current{
		@include coinSpritePosition(-158,-65,0.7)
	}
	.coin-menu4{
		@include coinSpritePosition(-237,0,0.7)
	}
	.coin-menu4:hover,.coin-menu4-current{
		@include coinSpritePosition(-237,-65,0.7)
	}
	.coin-menu5{
		@include coinSpritePosition(-316,0,0.7)
	}
	.coin-menu5:hover,.coin-menu5-current{
		@include coinSpritePosition(-316,-65,0.7)
	}
	.gameHistory{
		height:130px;
	}
	.bankerRoadIcon0{
		@include hisRoadSpritePosition(0,0,0.15);
	}
	.bankerRoadIcon1{
		@include hisRoadSpritePosition(-100,0,0.15);
	}
	.bankerRoadIcon2{
		@include hisRoadSpritePosition(-200,0,0.15);
	}
	.bankerRoadIcon3{
		@include hisRoadSpritePosition(-300,0,0.08);
	}
	.bankerRoadIcon3-1{
		@include hisRoadSpritePosition(-300,0,0.04);
	}
	.bankerRoadIcon4{
		@include hisRoadSpritePosition(-400,0,0.08);
	}
	.bankerRoadIcon5{
		@include hisRoadSpritePosition(-500,0,0.08);
	}
	.bankerRoadIcon6{
		@include hisRoadSpritePosition(-600,0,0.08);
	}
	.bankerRoadIcon7{
		@include hisRoadSpritePosition(-700,0,0.04);
	}
	.bankerRoadIcon8{
		@include hisRoadSpritePosition(-800,0,0.04);
	}
	.playerRoadIcon0{
		@include hisRoadSpritePosition(-900,0,0.15);
	}
	.playerRoadIcon1{
		@include hisRoadSpritePosition(-1000,0,0.15);
	}
	.playerRoadIcon2{
		@include hisRoadSpritePosition(-1100,0,0.15);
	}
	.playerRoadIcon3{
		@include hisRoadSpritePosition(-1200,0,0.08);
	}
	.playerRoadIcon3-1{
		@include hisRoadSpritePosition(-1200,0,0.04);
	}
	.playerRoadIcon4{
		@include hisRoadSpritePosition(-1300,0,0.08);
	}
	.playerRoadIcon5{
		@include hisRoadSpritePosition(-1400,0,0.08);
	}
	.playerRoadIcon6{
		@include hisRoadSpritePosition(-1500,0,0.08);
	}
	.playerRoadIcon7{
		@include hisRoadSpritePosition(-1600,0,0.04);
	}
	.playerRoadIcon8{
		@include hisRoadSpritePosition(-1700,0,0.04);
	}
	.tieRoadIcon{
		@include hisRoadSpritePosition(-1800,0,0.15);
	}


}
@media screen and (max-width: 414px) {
		.header{
			height:50px;
		}
		.header-btn{
			width:26%;
			line-height: 1.75rem;
			font-size: 130%;;
		}
		.video-box{
			height:220px;
		}
		#countNumber{
			top:2%;
			left:16px;
			font-size: 2.6rem;
		}
		#loading{
			width:60px;
			height:60px;
			left:10px;
		}
		.betArea{
			height:300px;
		}
		.betArea-mobile{
			height:211px;
		}
		.betArea-mobile-container{
			height:211px;
			flex-wrap: wrap;
		}
		.betArea-item {
			font-size: 1.2rem;
			flex:auto;
		}
		.coin-menu1{
			@include coinSpritePosition(0,0,0.9)
		}
		.coin-menu1:hover,.coin-menu1-current{
			@include coinSpritePosition(0,-65,0.9)
		}
		.coin-menu2{
			@include coinSpritePosition(-79,0,0.9)
		}
		.coin-menu2:hover,.coin-menu2-current{
			@include coinSpritePosition(-79,-65,0.9)
		}
		.coin-menu3{
			@include coinSpritePosition(-158,0,0.9)
		}
		.coin-menu3:hover,.coin-menu3-current{
			@include coinSpritePosition(-158,-65,0.9)
		}
		.coin-menu4{
			@include coinSpritePosition(-237,0,0.9)
		}
		.coin-menu4:hover,.coin-menu4-current{
			@include coinSpritePosition(-237,-65,0.9)
		}
		.coin-menu5{
			@include coinSpritePosition(-316,0,0.9)
		}
		.coin-menu5:hover,.coin-menu5-current{
			@include coinSpritePosition(-316,-65,0.9)
		}
		.caritem{
			margin-right: 10px;
		}
		.stand-mobile-container{
			height:187px;
		}
		.gameHistory{
			height:115px;
		}
		.gameResult{
			top:25%;
		}
		.gainMoney{
			font-size:100%;
			margin-bottom:0;
		}
		.result-text{
			font-size:150%;
		}
}
@media screen and (max-width: 375px) {
		.video-box{
			height:195px;
		}
		.betArea{
			height:260px;
		}
		.betArea-mobile{
			height:179px;
		}
		.betArea-mobile-container{
			height:179px;
		}
		.gameResult{
			top:20%;
		}
}	
@media screen and (max-width: 320px) {
	.header{
		height:40px;
	}
	.header-btn{
		width:24%;
		line-height:1rem;
		font-size:100%;
	}
	#countNumber{
		top:3%;
		left:18px;
		font-size: 2.5rem;
	}
	.footer{
		padding-top:0px;
		padding-bottom: 0px;
	}
	.video-box{
		height:165px;
	}
	.gameHistory{
		height:100px;
	}
	.gainMoney{
		font-size:80%;
	}
	.result-text{
		font-size:130%;
	}
	.betArea{
		height:235px;
	}
	.betArea-mobile{
		height:160px;
	}
	.betArea-mobile-container{
		height:160px;
	}
	.coin-menu1{
		@include coinSpritePosition(0,0,0.7)
	}
	.coin-menu1:hover,.coin-menu1-current{
		@include coinSpritePosition(0,-65,0.7)
	}
	.coin-menu2{
		@include coinSpritePosition(-79,0,0.7)
	}
	.coin-menu2:hover,.coin-menu2-current{
		@include coinSpritePosition(-79,-65,0.7)
	}
	.coin-menu3{
		@include coinSpritePosition(-158,0,0.7)
	}
	.coin-menu3:hover,.coin-menu3-current{
		@include coinSpritePosition(-158,-65,0.7)
	}
	.coin-menu4{
		@include coinSpritePosition(-237,0,0.7)
	}
	.coin-menu4:hover,.coin-menu4-current{
		@include coinSpritePosition(-237,-65,0.7)
	}
	.coin-menu5{
		@include coinSpritePosition(-316,0,0.7)
	}
	.coin-menu5:hover,.coin-menu5-current{
		@include coinSpritePosition(-316,-65,0.7)
	}
}	