/*-------------------------------------------
     自適應設定區
-------------------------------------------*/
@media screen and (min-width: 1281px) {
  .video-box {
    height: 70%;
  }
  .betArea {
    height: 65%;
  }
  .betArea-pc {
    height: 79%;
  }
  .coinArea {
    height: 15%;
  }
  .betArea-pc-container {
    height: 50%;
  }
  .betArea-item {
    font-size: 2rem;
  }
  .gameHistory {
    height: 30%;
  }
}
@media screen and (max-width: 1280px) {
  .text-md-left,
  .text-md-right {
    font-size: smaller;
  }
  .card-container {
    margin-top: -20px;
  }
  .video-box {
    height: 75%;
  }
  .betArea {
    height: 75%;
  }
  .betArea-pc {
    height: 75%;
  }
  .betArea-pc-container {
    height: 50%;
  }
  .betArea-item {
    font-size: 1.5rem;
  }
  .gameHistory {
    height: 25%;
  }
  .coinArea {
    height: 21%;
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 0.7);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 0.7);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 0.7);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 0.7);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 0.7);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 0.7);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 0.7);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 0.7);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 0.7);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 0.7);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 0.7);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 0.7);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,0.7);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,0.7);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,0.7);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 0.7);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 0.7);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 0.7);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 0.7);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 0.7);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 0.7);
  }
  //路圖圖示區
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.29);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.29);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.29);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.29);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.29);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.29);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.29);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.29);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.29);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.29);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.29);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.29);
  }
  //大路
  .big-T {
    @include tiePosition(0, 0, 0.15);
  }
  .big-B {
    //莊
    @include hisRoadSpritePosition(0, 100, 0.15);
  }
  .big-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 100, 0.15);
  }
  .big-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 100, 0.15);
  }
  .big-B-BothPair {
    // 莊對、閒對
    @include hisRoadSpritePosition(-300, 100, 0.15);
  }
  .big-BT {
    //莊和
    @include hisRoadSpritePosition(-400, 100, 0.15);
  }
  .big-BT-BPair {
    //莊和 莊對
    @include hisRoadSpritePosition(-500, 100, 0.15);
  }
  .big-BT-PPair {
    //莊和 閒對
    @include hisRoadSpritePosition(-600, 100, 0.15);
  }
  .big-BT-BothPair {
    //莊和 莊閒對
    @include hisRoadSpritePosition(-700, 100, 0.15);
  }
  .big-P {
    //閒
    @include hisRoadSpritePosition(-800, 100, 0.15);
  }
  .big-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-900, 100, 0.15);
  }
  .big-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-1000, 100, 0.15);
  }
  .big-P-BothPair {
    // 閒對、莊對
    @include hisRoadSpritePosition(-1100, 100, 0.15);
  }
  .big-PT {
    //閒和
    @include hisRoadSpritePosition(-1200, 100, 0.15);
  }
  .big-PT-BPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1300, 100, 0.15);
  }
  .big-PT-PPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1400, 100, 0.15);
  }
  .big-PT-BothPair {
    //閒和 莊閒對
    @include hisRoadSpritePosition(-1500, 100, 0.15);
  }
  //小路(左下角)
  .small-red {
    @include hisRoadSpritePosition(-1200, 0, 0.08);
  }
  .small-blue {
    @include hisRoadSpritePosition(-1400, 0, 0.08);
  }
  //大眼仔路(中間)
  .bigEye-red {
    @include hisRoadSpritePosition(0, 100, 0.09);
  }
  .bigEye-blue {
    @include hisRoadSpritePosition(-800, 100, 0.09);
  }
  //蟑螂路
  cockroach-red {
    @include hisRoadSpritePosition(-1300, 0, 0.08);
  }
  cockroach-blue {
    @include hisRoadSpritePosition(-1500, 0, 0.08);
  }
  //和局數字
  .tie1 {
    @include tieNumberPosition(0, 0, 0.15);
  }
  .tie2 {
    @include tieNumberPosition(-100, 0, 0.15);
  }
  .tie3 {
    @include tieNumberPosition(-200, 0, 0.15);
  }
  .tie4 {
    @include tieNumberPosition(-300, 0, 0.15);
  }
  .tie5 {
    @include tieNumberPosition(-400, 0, 0.15);
  }
  .tie6 {
    @include tieNumberPosition(-500, 0, 0.15);
  }
  .tie7 {
    @include tieNumberPosition(-600, 0, 0.15);
  }
  .tie8 {
    @include tieNumberPosition(-700, 0, 0.15);
  }
}
@media screen and (max-width: 1140px) {
}
@media screen and (min-width: 1025px) {
  .header-bottom-mobil {
    display: none !important;
  }
  .header-logo {
    max-width: 187px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    background-image: none;
  }
  .container-waps {
    height: auto;
  }
  .mobilTableInfo {
    display: block;
  }
  .flexs {
    display: flex;
    justify-content: space-around;
  }
  .header {
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
  }
  .header-userName {
    border: none;
    line-height: 1rem;
  }
  .header-logo {
    float: left;
    width: auto !important;
    height: 100%;
    margin-right: auto;
    img {
      height: 100%;
    }
  }
  .header-btnList {
    width: auto;
    display: flex;
  }
  .header-btn {
    width: auto;
    line-height: 1.75rem;
    font-size: 180%;
  }
  .header-top {
    display: flex;
  }
  .header-bottom {
    display: flex;
    justify-content: center;
  }
  .header-bottom-desk {
    display: none;
  }
  .userWallet-mobil {
    display: block !important;
  }
  .header-userName {
    flex-grow: 0;
  }
  .font-total {
    line-height: 1.5em;
  }
  .video-box {
    width: 100%;
    height: 575px;
  }
  .mainGame {
    width: 100%;
  }
  .card-container {
    margin-top: 0px;
  }
  .betArea {
    border: 2px solid #262626;
    width: 100%;
  }
  .bettingArea-btn-left {
    width: 80%;
  }
  .betArea-pc {
    display: none;
  }
  .betArea-mobile {
    display: block;
    height: 250px;
  }
  .betArea-mobile-container {
    height: 250px;
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 1.6);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 1.6);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 1.6);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 1.6);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 1.6);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 1.6);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 1.6);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 1.6);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 1.6);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 1.6);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 1.6);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 1.6);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,1.6);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,1.6);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,1.6);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 1.6);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 1.6);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 1.6);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 1.6);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 1.6);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 1.6);
  }
  .betArea-item {
    font-size: 2.5rem;
    flex: 20%;
  }
  .gameHistory {
    width: 100%;
    height: 220px;
    background-image: url(../../images/cardroad_bg_20.png);
    background-repeat: repeat;
    background-position: left top;
  }
  .tabsArea {
    display: none;
  }
  .card-box {
    margin-top: -20px;
  }
  .playerNum,
  .bankerNum {
    font-size: 2.5rem;
  }
  .playerNum {
    left: 20%;
    top: 10%;
  }
  .bankerNum {
    right: 20%;
    top: 10%;
  }
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.35);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.35);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.35);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.35);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.35);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.35);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.35);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.35);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.35);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.35);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.35);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.35);
  }
  //大路
  .big-T {
    @include tiePosition(0, 0, 0.2);
  }
  .big-B {
    //莊
    @include hisRoadSpritePosition(0, 100, 0.2);
  }
  .big-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 100, 0.2);
  }
  .big-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 100, 0.2);
  }
  .big-B-BothPair {
    // 莊對、閒對
    @include hisRoadSpritePosition(-300, 100, 0.2);
  }
  .big-BT {
    //莊和
    @include hisRoadSpritePosition(-400, 100, 0.2);
  }
  .big-BT-BPair {
    //莊和 莊對
    @include hisRoadSpritePosition(-500, 100, 0.2);
  }
  .big-BT-PPair {
    //莊和 閒對
    @include hisRoadSpritePosition(-600, 100, 0.2);
  }
  .big-BT-BothPair {
    //莊和 莊閒對
    @include hisRoadSpritePosition(-700, 100, 0.2);
  }
  .big-P {
    //閒
    @include hisRoadSpritePosition(-800, 100, 0.2);
  }
  .big-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-900, 100, 0.2);
  }
  .big-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-1000, 100, 0.2);
  }
  .big-P-BothPair {
    // 閒對、莊對
    @include hisRoadSpritePosition(-1100, 100, 0.2);
  }
  .big-PT {
    //閒和
    @include hisRoadSpritePosition(-1200, 100, 0.2);
  }
  .big-PT-BPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1300, 100, 0.2);
  }
  .big-PT-PPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1400, 100, 0.2);
  }
  .big-PT-BothPair {
    //閒和 莊閒對
    @include hisRoadSpritePosition(-1500, 100, 0.2);
  }
  //小路(左下角)
  .small-red {
    @include hisRoadSpritePosition(-1200, 0, 0.09);
  }
  .small-blue {
    @include hisRoadSpritePosition(-1400, 0, 0.09);
  }
  //蟑螂路
  cockroach-red {
    @include hisRoadSpritePosition(-1300, 0, 0.09);
  }
  cockroach-blue {
    @include hisRoadSpritePosition(-1500, 0, 0.09);
  }
  //和局數字
  .tie1 {
    @include tieNumberPosition(0, 0, 0.2);
  }
  .tie2 {
    @include tieNumberPosition(-100, 0, 0.2);
  }
  .tie3 {
    @include tieNumberPosition(-200, 0, 0.2);
  }
  .tie4 {
    @include tieNumberPosition(-300, 0, 0.2);
  }
  .tie5 {
    @include tieNumberPosition(-400, 0, 0.2);
  }
  .tie6 {
    @include tieNumberPosition(-500, 0, 0.2);
  }
  .tie7 {
    @include tieNumberPosition(-600, 0, 0.2);
  }
  .tie8 {
    @include tieNumberPosition(-700, 0, 0.2);
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 40px;
  }
  .video-box {
    height: 430px;
  }
  .lightBox {
    display: block;
  }
  #countNumber {
    top: 2%;
  }
  .bettingArea-btn {
    height: 55px;
  }
  .betArea-item-top {
    top: 2%;
  }
  .betArea-item-bottom {
    bottom: 5%;
  }
  .bettingArea-btn-betInfo {
    font-size: 16px;
  }
  .betRatioText {
    font-size: 1rem;
  }
  .tabsArea {
    display: none;
  }
  .gameResult {
    top: 0;
  }
  .container {
    width: 760px;
  }
  .coinArea {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 1.2);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 1.2);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 1.2);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 1.2);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 1.2);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 1.2);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 1.2);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 1.2);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 1.2);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 1.2);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 1.2);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 1.2);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,1.2);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,1.2);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,1.2);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 1.2);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 1.2);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 1.2);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 1.2);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 1.2);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 1.2);
  }
  .betArea-mobile,
  .betArea-mobile-container {
    height: 120px;
  }
  .betArea-item {
    font-size: 1.6rem;
  }
  .alertFont {
    font-size: 1.6rem !important;
  }
  .card-container {
    margin-top: -35px;
  }
  .playerNum {
    left: 10%;
    top: 10%;
  }
  .bankerNum {
    right: 10%;
    top: 10%;
  }
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.3);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.3);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.3);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.3);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.3);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.3);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.3);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.3);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.3);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.3);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.3);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.3);
  }
  //大路
  .big-T {
    @include tiePosition(0, 0, 0.17);
  }
  .big-B {
    //莊
    @include hisRoadSpritePosition(0, 100, 0.17);
  }
  .big-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 100, 0.17);
  }
  .big-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 100, 0.17);
  }
  .big-B-BothPair {
    // 莊對、閒對
    @include hisRoadSpritePosition(-300, 100, 0.17);
  }
  .big-BT {
    //莊和
    @include hisRoadSpritePosition(-400, 100, 0.17);
  }
  .big-BT-BPair {
    //莊和 莊對
    @include hisRoadSpritePosition(-500, 100, 0.17);
  }
  .big-BT-PPair {
    //莊和 閒對
    @include hisRoadSpritePosition(-600, 100, 0.17);
  }
  .big-BT-BothPair {
    //莊和 莊閒對
    @include hisRoadSpritePosition(-700, 100, 0.17);
  }
  .big-P {
    //閒
    @include hisRoadSpritePosition(-800, 100, 0.17);
  }
  .big-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-900, 100, 0.17);
  }
  .big-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-1000, 100, 0.17);
  }
  .big-P-BothPair {
    // 閒對、莊對
    @include hisRoadSpritePosition(-1100, 100, 0.17);
  }
  .big-PT {
    //閒和
    @include hisRoadSpritePosition(-1200, 100, 0.17);
  }
  .big-PT-BPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1300, 100, 0.17);
  }
  .big-PT-PPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1400, 100, 0.17);
  }
  .big-PT-BothPair {
    //閒和 莊閒對
    @include hisRoadSpritePosition(-1500, 100, 0.17);
  }
  //和局數字
  .tie1 {
    @include tieNumberPosition(0, 0, 0.17);
  }
  .tie2 {
    @include tieNumberPosition(-100, 0, 0.17);
  }
  .tie3 {
    @include tieNumberPosition(-200, 0, 0.17);
  }
  .tie4 {
    @include tieNumberPosition(-300, 0, 0.17);
  }
  .tie5 {
    @include tieNumberPosition(-400, 0, 0.17);
  }
  .tie6 {
    @include tieNumberPosition(-500, 0, 0.17);
  }
  .tie7 {
    @include tieNumberPosition(-600, 0, 0.17);
  }
  .tie8 {
    @include tieNumberPosition(-700, 0, 0.17);
  }
}
@media screen and (max-width: 540px) {
  .header {
    height: 30px;
  }
  .header-btn {
    font-size: 100%;
    line-height: 1rem;
  }
  .video-box {
    height: 290px;
  }
  #countNumber {
    top: 3%;
  }
  .table-img {
    width: 150px;
    height: 150px;
  }
  .betArea-item {
    font-size: 1rem;
  }
  .betStatus,
  .table-total-betStatus {
    font-size: 0.5rem;
  }
  .alertFont {
    font-size: 1.5rem !important;
  }
  .betArea-mobile,
  .betArea-mobile-container {
    height: 100px;
  }
  .askRoad-player,
  .askRoad-banker {
    p {
      font-size: 0.5rem;
    }
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 0.7);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 0.7);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 0.7);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 0.7);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 0.7);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 0.7);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 0.7);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 0.7);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 0.7);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 0.7);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 0.7);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 0.7);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,0.7);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,0.7);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,0.7);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 0.7);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 0.7);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 0.7);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 0.7);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 0.7);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 0.7);
  }
  .gameHistory {
    height: 130px;
  }
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.15);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.15);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.15);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.15);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.15);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.15);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.15);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.15);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.15);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.15);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.15);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.15);
  }
  //大路
  .big-T {
    @include tiePosition(0, 0, 0.08);
  }
  .big-B {
    //莊
    @include hisRoadSpritePosition(0, 100, 0.08);
  }
  .big-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 100, 0.08);
  }
  .big-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 100, 0.08);
  }
  .big-B-BothPair {
    // 莊對、閒對
    @include hisRoadSpritePosition(-300, 100, 0.08);
  }
  .big-BT {
    //莊和
    @include hisRoadSpritePosition(-400, 100, 0.08);
  }
  .big-BT-BPair {
    //莊和 莊對
    @include hisRoadSpritePosition(-500, 100, 0.08);
  }
  .big-BT-PPair {
    //莊和 閒對
    @include hisRoadSpritePosition(-600, 100, 0.08);
  }
  .big-BT-BothPair {
    //莊和 莊閒對
    @include hisRoadSpritePosition(-700, 100, 0.08);
  }
  .big-P {
    //閒
    @include hisRoadSpritePosition(-800, 100, 0.08);
  }
  .big-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-900, 100, 0.08);
  }
  .big-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-1000, 100, 0.08);
  }
  .big-P-BothPair {
    // 閒對、莊對
    @include hisRoadSpritePosition(-1100, 100, 0.08);
  }
  .big-PT {
    //閒和
    @include hisRoadSpritePosition(-1200, 100, 0.08);
  }
  .big-PT-BPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1300, 100, 0.08);
  }
  .big-PT-PPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1400, 100, 0.08);
  }
  .big-PT-BothPair {
    //閒和 莊閒對
    @include hisRoadSpritePosition(-1500, 100, 0.08);
  }

  //小路(左下角)
  .small-red {
    @include hisRoadSpritePosition(-1200, 0, 0.04);
  }
  .small-blue {
    @include hisRoadSpritePosition(-1400, 0, 0.04);
  }
  //大眼仔路(中間)
  .bigEye-red {
    @include hisRoadSpritePosition(0, 100, 0.04);
  }
  .bigEye-blue {
    @include hisRoadSpritePosition(-800, 100, 0.04);
  }
  //蟑螂路
  .cockroach-red {
    @include hisRoadSpritePosition(-1300, 0, 0.04);
  }
  .cockroach-blue {
    @include hisRoadSpritePosition(-1500, 0, 0.04);
  }
  .card-container {
    margin-top: -10px;
  }
  //和局數字
  .tie1 {
    @include tieNumberPosition(0, 0, 0.08);
  }
  .tie2 {
    @include tieNumberPosition(-100, 0, 0.08);
  }
  .tie3 {
    @include tieNumberPosition(-200, 0, 0.08);
  }
  .tie4 {
    @include tieNumberPosition(-300, 0, 0.08);
  }
  .tie5 {
    @include tieNumberPosition(-400, 0, 0.08);
  }
  .tie6 {
    @include tieNumberPosition(-500, 0, 0.08);
  }
  .tie7 {
    @include tieNumberPosition(-600, 0, 0.08);
  }
  .tie8 {
    @include tieNumberPosition(-700, 0, 0.08);
  }
}
@media screen and (max-width: 414px) {
  .gameResultLoading {
    top: 25%;
    font-size: 40%;
  }
  .table-img {
    width: 100px;
    height: 100px;
  }
  .tableItem {
    font-size: 12px;
  }
  .header-top {
    width: 90%;
  }
  .header-bottom {
    width: 10%;
  }
  .header-btnList {
    width: 100%;
  }
  .header-btn {
    line-height: 0.5rem;
    font-size: 70%;
    width: 40px;
  }
  .alertFont{
    font-size: 1.3rem !important;
  }
  .betArea-item-top {
    top: 0%;
  }
  .betArea-item-bottom {
    bottom: 0%;
  }
  .bettingArea-btn-left {
    width: 70%;
  }
  .header-userName {
    font-size: 0.5rem;
  }
  .video-box {
    height: 230px;
  }
  #countNumber {
    top: 2%;
    left: 16px;
    font-size: 2.6rem;
  }
  #loading {
    width: 60px;
    height: 60px;
    left: 10px;
  }
  .coinArea {
    height: 15%;
  }
  .betArea {
    height: 310px;
  }
  .betStatus {
    font-size: 1rem;
  }
  .betArea-mobile {
    height: 180px;
  }
  .betArea-mobile-container {
    height: 180px;
    flex-wrap: wrap;
  }
  .mobilTableInfo {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    //漢堡
    padding: 0;
  }
  .bettingArea-btn-gitbackAllCoin,
  .bettingArea-btn-check {
    width: 55px;
  }
  .bettingArea-btn-betInfo {
    font-size: 10px;
  }
  .betArea-item {
    font-size: 1rem;
    flex: auto;
  }
  .card-container {
    margin-top: -25px;
  }
  .playerNum,
  .bankerNum {
    font-size: 1.5rem;
  }
  .playerNum {
    left: 5%;
    top: 10%;
  }
  .bankerNum {
    right: 5%;
    top: 10%;
  }
  .caritem {
    margin-right: 10px;
  }
  .stand-mobile-container {
    height: 187px;
  }
  .gameHistory {
    height: 115px;
  }
  .gameResult {
    top: 25%;
  }
  .gainMoney {
    font-size: 100%;
    margin-bottom: 0;
  }
  .result-text {
    font-size: 150%;
  }
  .userBetInfo-title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 375px) {
  .video-box {
    height: 210px;
  }
  .tableItem {
    padding: 5px !important;
  }
  .betArea {
    height: 265px;
  }
  .betStatus {
    font-size: 0.8rem;
  }
  .alertFont {
    font-size: 0.9rem !important;
  }
  .betArea-item {
    font-size: 0.5rem;
    font-weight: bolder;
  }
  .betStatus,.table-total-betStatus{
    font-size: 0.3rem;
  }
  .betRatioText {
    font-size: 0.3rem;
  }
  .betArea-mobile {
    height: 141px;
  }
  .betArea-mobile-container {
    height: 141px;
  }
  .playerNum {
    left: 3%;
  }
  .userBetInfo-title {
    font-size: 1rem;
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 0.6);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 0.6);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 0.6);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 0.6);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 0.6);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 0.6);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 0.6);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 0.6);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 0.6);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 0.6);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 0.6);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 0.6);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,0.6);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,0.6);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,0.6);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 0.6);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 0.6);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 0.6);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 0.6);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 0.6);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 0.6);
  }
}
@media screen and (max-width: 320px) {
  .header {
    height: 30px;
  }
  .tableItem {
    flex-direction: column;
  }
  .header-userName {
    line-height: 0.7rem;
  }
  .header-userName {
    padding: 2.5px;
  }
  .header-logo {
    display: none;
  }
  #countNumber {
    top: 3%;
    left: 18px;
    font-size: 2.5rem;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .video-box {
    height: 180px;
  }
  .gameHistory {
    height: 100px;
  }
  .gainMoney {
    font-size: 80%;
  }
  .result-text {
    font-size: 130%;
  }
  .betArea {
    height: 230px;
  }
  .bettingArea-btn-left {
    width: 65%;
  }
  .bettingArea-btn-gitbackAllCoin {
    width: auto;
    font-size: 12px;
    padding: 2px;
  }
  .bettingArea-btn {
    height: 50px;
  }
  .bettingArea-btn-betInfo {
    font-size: 12px;
    height: 40px;
  }
  .betArea-item-top{
    flex-direction: row !important;
    align-items: center;
    span{
      margin-right: 5px;
    }
  }
  .betArea-item {
    font-size: 1rem !important;
  }
  .alertFont {
    font-size: 1.2rem !important;
  }
  .betArea-mobile {
    height: 121px;
  }
  .betArea-mobile-container {
    height: 121px;
  }
  .card-container {
    margin-top: -35px;
  }
  .bankerNum,
  .playerNum {
    font-size: 1rem;
  }
  .playerNum {
    left: 0%;
    top: 50%;
  }
  .bankerNum {
    right: 0%;
    top: 50%;
  }
  .mobilTableInfo {
    font-size: small;
  }
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.12);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.12);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.12);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.12);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.12);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.12);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.12);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.12);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.12);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.12);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.12);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.12);
  }
  .userBetInfo-title {
    // width:30%;
    font-size: 0.5rem;
  }
  //小路(左下角)
  .small-red-ask {
    @include hisRoadSpritePosition(-1200, 0, 0.08);
  }
  .small-blue-ask {
    @include hisRoadSpritePosition(-1400, 0, 0.08);
  }
  //大眼仔路(中間)
  .bigEye-red-ask {
    @include hisRoadSpritePosition(0, 100, 0.08);
  }
  .bigEye-blue-ask {
    @include hisRoadSpritePosition(-800, 100, 0.08);
  }
  //蟑螂路
  .cockroach-red-ask {
    @include hisRoadSpritePosition(-1300, 0, 0.08);
  }
  .cockroach-blue-ask {
    @include hisRoadSpritePosition(-1500, 0, 0.08);
  }
}
@media screen and (max-width: 280px) {
  .header {
    height: 50px;
  }
  .header-logo {
    margin-left: 0;
  }
  .header-btn {
    width: 100%;
    line-height: 1.75rem;
    font-size: 100%;
  }
  .video-box {
    height: 190px;
  }
  .gameHistory {
    height: 100px;
  }
  .gainMoney {
    font-size: 80%;
  }
  .result-text {
    font-size: 130%;
  }
  .betArea {
    height: 280px;
  }
  .betArea-item {
    font-size: 1rem;
  }
  .alertFont {
    font-size: 1.2rem !important;
  }
  .betStatus {
    font-size: 1rem;
  }
  .betArea-mobile {
    height: 160px;
  }
  .betArea-mobile-container {
    height: 160px;
  }
  .bettingArea-btn-left{
    width:62%;
  }
  .bettingArea-btn-gitbackAllCoin, .bettingArea-btn-check{
    font-size: 10px;
    width:55px;
  }
  .coin-100 {
    @include coinSpritePosition(0, 0, 0.5);
  }
  .coin-100:hover,
  .coin-100-current {
    @include coinSpritePosition(0, -65, 0.5);
  }
  .coin-100-disable {
    @include coinSpritePosition(0, -130, 0.5);
  }
  .coin-500 {
    @include coinSpritePosition(-79, 0, 0.5);
  }
  .coin-500:hover,
  .coin-500-current {
    @include coinSpritePosition(-79, -65, 0.5);
  }
  .coin-500-disable {
    @include coinSpritePosition(-79, -130, 0.5);
  }
  .coin-1000 {
    @include coinSpritePosition(-158, 0, 0.5);
  }
  .coin-1000:hover,
  .coin-1000-current {
    @include coinSpritePosition(-158, -65, 0.5);
  }
  .coin-1000-disable {
    @include coinSpritePosition(-158, -130, 0.5);
  }
  .coin-2000 {
    @include coinSpritePosition(-237, 0, 0.5);
  }
  .coin-2000:hover,
  .coin-2000-current {
    @include coinSpritePosition(-237, -65, 0.5);
  }
  .coin-2000-disable {
    @include coinSpritePosition(-237, -130, 0.5);
  }
  .coin-5000{
    @include coinSpritePosition(-474,0,0.5);
  }
  .coin-5000:hover,.coin-5000-current{
    @include coinSpritePosition(-474,-65,0.5);
  }
  .coin-5000-disable{
    @include coinSpritePosition(-474,-130,0.5);
  }
  .coin-10000 {
    @include coinSpritePosition(-316, 0, 0.5);
  }
  .coin-10000:hover,
  .coin-10000-current {
    @include coinSpritePosition(-316, -65, 0.5);
  }
  .coin-10000-disable {
    @include coinSpritePosition(-316, -130, 0.5);
  }
  .coin-100000 {
    @include coinSpritePosition(-395, 0, 0.5);
  }
  .coin-100000:hover,
  .coin-100000-current {
    @include coinSpritePosition(-395, -65, 0.5);
  }
  .coin-100000-disable {
    @include coinSpritePosition(-395, -130, 0.5);
  }
  .card-container {
    margin-top: -35px;
  }
  //珠仔路
  .BeadPlate-B {
    //莊
    @include hisRoadSpritePosition(0, 0, 0.1);
  }
  .BeadPlate-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 0, 0.1);
  }
  .BeadPlate-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 0, 0.1);
  }
  .BeadPlate-B-BothPair {
    //莊對、閒對
    @include hisRoadSpritePosition(-300, 0, 0.1);
  }
  .BeadPlate-P {
    //閒
    @include hisRoadSpritePosition(-400, 0, 0.1);
  }
  .BeadPlate-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-500, 0, 0.1);
  }
  .BeadPlate-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-600, 0, 0.1);
  }
  .BeadPlate-P-BothPair {
    //閒對、莊對
    @include hisRoadSpritePosition(-700, 0, 0.1);
  }
  .BeadPlate-T {
    //和
    @include hisRoadSpritePosition(-800, 0, 0.1);
  }
  .BeadPlate-T-BPair {
    //和、莊對
    @include hisRoadSpritePosition(-900, 0, 0.1);
  }
  .BeadPlate-T-PPair {
    //和、閒對
    @include hisRoadSpritePosition(-1000, 0, 0.1);
  }
  .BeadPlate-T-BothPair {
    //和、閒對、莊對
    @include hisRoadSpritePosition(-1100, 0, 0.1);
  }
  //大路
  .big-T {
    @include tiePosition(0, 0, 0.06);
  }
  .big-B {
    //莊
    @include hisRoadSpritePosition(0, 100, 0.06);
  }
  .big-B-BPair {
    //莊對
    @include hisRoadSpritePosition(-100, 100, 0.06);
  }
  .big-B-PPair {
    //莊、閒對
    @include hisRoadSpritePosition(-200, 100, 0.06);
  }
  .big-B-BothPair {
    // 莊對、閒對
    @include hisRoadSpritePosition(-300, 100, 0.06);
  }
  .big-BT {
    //莊和
    @include hisRoadSpritePosition(-400, 100, 0.06);
  }
  .big-BT-BPair {
    //莊和 莊對
    @include hisRoadSpritePosition(-500, 100, 0.06);
  }
  .big-BT-PPair {
    //莊和 閒對
    @include hisRoadSpritePosition(-600, 100, 0.06);
  }
  .big-BT-BothPair {
    //莊和 莊閒對
    @include hisRoadSpritePosition(-700, 100, 0.06);
  }
  .big-P {
    //閒
    @include hisRoadSpritePosition(-800, 100, 0.06);
  }
  .big-P-BPair {
    //閒、莊對
    @include hisRoadSpritePosition(-900, 100, 0.06);
  }
  .big-P-PPair {
    //閒、閒對
    @include hisRoadSpritePosition(-1000, 100, 0.06);
  }
  .big-P-BothPair {
    // 閒對、莊對
    @include hisRoadSpritePosition(-1100, 100, 0.06);
  }
  .big-PT {
    //閒和
    @include hisRoadSpritePosition(-1200, 100, 0.06);
  }
  .big-PT-BPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1300, 100, 0.06);
  }
  .big-PT-PPair {
    //閒和 閒對
    @include hisRoadSpritePosition(-1400, 100, 0.06);
  }
  .big-PT-BothPair {
    //閒和 莊閒對
    @include hisRoadSpritePosition(-1500, 100, 0.06);
  }
  //小路(左下角)
  .small-red {
    @include hisRoadSpritePosition(-1200, 0, 0.02);
  }
  .small-blue {
    @include hisRoadSpritePosition(-1400, 0, 0.02);
  }
  //大眼仔路(中間)
  .bigEye-red {
    @include hisRoadSpritePosition(0, 100, 0.02);
  }
  .bigEye-blue {
    @include hisRoadSpritePosition(-800, 100, 0.02);
  }
  //蟑螂路
  .cockroach-red {
    @include hisRoadSpritePosition(-1300, 0, 0.02);
  }
  .cockroach-blue {
    @include hisRoadSpritePosition(-1500, 0, 0.02);
  }
  //和局數字
  .tie1 {
    @include tieNumberPosition(0, 0, 0.06);
  }
  .tie2 {
    @include tieNumberPosition(-100, 0, 0.06);
  }
  .tie3 {
    @include tieNumberPosition(-200, 0, 0.06);
  }
  .tie4 {
    @include tieNumberPosition(-300, 0, 0.06);
  }
  .tie5 {
    @include tieNumberPosition(-400, 0, 0.06);
  }
  .tie6 {
    @include tieNumberPosition(-500, 0, 0.06);
  }
  .tie7 {
    @include tieNumberPosition(-600, 0, 0.06);
  }
  .tie8 {
    @include tieNumberPosition(-700, 0, 0.06);
  }
}
