
html,body{
	height: 100%; margin: 0; padding: 0;
}
body{
	padding: 0px;
	background-color: #000;
	background-image: $body-bg-img;
	background-repeat: repeat;
	color: #FFF;
}
ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	max-width:100%;
	height:auto;
}

.font_red{
	color: $betArea_red;
}
.font_green{
	color: #009200;
}
.font_yellow{
	color:$betArea_yellow;
}
.font_yellows{
	color: #fff6d7;
	line-height: 2em;
}
.font
.font-total{
	color: gray;
	float: left;
	width: 100%;
	background-color: rgba(2,29,35,0.5);
	line-height: 2.5em;
	text-align: center;
}
.font-total{
	color: gray;
}