//顏色變數
$mainColor:#644d31;
$grey:rgb(56, 55, 55);
$font_red:#EF5766;
$font_yellow:#E1BD33;
$font_green:#59C68D;
//注區顏色
$betArea_yellow:#E1BD33;
$betArea_red:#F44224;
$betArea_border:#347553;
$betArea:#206548;
$betArea_infoBar:#164531;
$btnlist_coin:#271604;
//路圖相關顏色
$road-bg:black;
$road-bg-border:#191919;


//注意這裡的路徑要放引用的SCSS檔案的相對路徑
//網站圖片
$body-bg-img:url('../../images/body-bg.png');
//loading的圖檔
$loading-img:url('../../images/loading.svg');
$videoLoading-img:url('../../images/videoLoading.svg');
//coin序列圖
$coin-spriteImg:url('../../images/coin.webp');
//路圖序列圖
$historyRoad-spriteImg:url('../../images/road-sprite.png');
//卡牌序列圖
$poker-spriteImg:url('../../images/poker.webp')