//顏色變數

//注區顏色
$betArea_yellow:#ffd236;
$betArea_red:#bd0505;
$betArea_border:gray;

//注意這裡的路徑要放引用的SCSS檔案的相對路徑
//網站圖片
$body-bg-img:url('../../images/body-bg.png');
//loading的圖檔
$loading-img:url('../../images/loading.svg');
$videoLoading-img:url('../../images/videoLoading.svg');
//coin序列圖
$coin-spriteImg:url('../../images/coin.png');
//路圖序列圖
$historyRoad-spriteImg:url('../../images/road-sprite.png');
//卡牌序列圖
$poker-spriteImg:url('../../images/poker.png')

